<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Details</title>
</head>
<body>



    
    {% comment %} <header>
        <h1>Article Details</h1>
        <p>Here is the article detail</p>
    </header>

    <article>
        <h2>Article </h2>
        <p>This is the full content of Article 1.</p>
        {{key2}}
    </article>

    <!-- You can add more content and details for other articles -->

    <p><a href="home_page.html">Back to Homepage</a></p>

    <footer>
        <p>&copy; 2023 Your Blog Name. All rights reserved.</p>
    </footer> {% endcomment %}
</body>
</html>
